@page "/"

<PageTitle>M. Ali Bayrak – Software-Ingenieur & .NET Spezialist | LYKON-TECH</PageTitle>

<div class="portfolio-page">
    <HeroSection />
    <AboutSection />
    <DemosSection />
    <ContactSection />
</div>
